html {
    font-size: 16px;
    font-family: Helvetica;
    line-height: 3rem;
}

/* header */

header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: inline-flex;
    justify-content: space-between;
}

#navigation_list {
    list-style: none;
    margin-right: 2rem;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.navigation li {
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
    }

    .navigation li {
        padding-left: 0;
    }

    #navigation_list {
        padding: 0;
    }
}

body {
    text-align: left;
    margin-left: 3rem;
}

main {
    display: flex;
    flex-direction: column;
}

/* About me */

.about_me_container {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.about_me_image {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.about_me_image img {
    width: 50%;
    aspect-ratio: 1 / 1;
    margin-right: 3rem;
    border-radius: 1.5rem;
}
.about_me {
    width: 80%;
}


@media only screen and (max-width: 600px) {
    .about_me_container {
        display: flex;
        flex-direction: column-reverse;
    }

    .about_me_image {
        justify-content: flex-start;
    }
}

/* Projects */

.projects_list a img {
    width: 40%;
    aspect-ratio: 16 / 9;
    margin: 3rem 3rem 3rem 0.5rem;
    border-radius: 1.5rem;
}

.projects_list a {
    color: black;
}

@media only screen and (max-width: 600px) {
    .projects_list a img {
        width: 100%;
        margin-left: 0rem;
    }
}

.fa {
   font-weight: 400; 
}

.skill_container i {
   font-size: 36px;
   margin: 5px;
}

footer {
    text-align: center;
    margin-top: 3rem;
}

footer p {
    margin: 0;
    line-height: 1.2rem;
}

/* Contacts */

.contacts {
    text-align: center;
}

.contacts i {
    font-size: 2.25rem;
    margin: 0.3125rem;
}